.mobile-navigation {
  width: 100%;
  background-color: var(--bg-color);
  color: var(--white);
  z-index: 50;
  top: 0;
  position: fixed;
  width: 100%;
  transition: var(--transition);
  right: 100%;
  // right: 0;
  max-height: 100%;
  overflow-y: auto;



  &__body {
    min-height: 100svh;
    display: flex;
    align-items: center;
    justify-content: center;

  }

  &__grid {
    display: grid;
    gap: 32px;
    grid-template-columns: repeat(1, 1fr);
    padding-top: 64px;
    padding-bottom: 64px;
    justify-content: center;
    align-items: center;


    @media (max-width: 767px) {
      gap: 12px;
    }
  }

  .button-close {
    position: absolute;
    top: 16px;
    right: 32px;

    @media (max-width: 767px) {
      top: 10px;
      right: 10px;
    }
  }

  .main-navigation {
    margin-bottom: 32px;

    @media (max-width: 767px) {
      margin-bottom: 16px;
    }

  }

  .main-navigation__list {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(1, 1fr);
    margin: 0 auto;

    @media (max-width: 767px) {
      gap: 12px;
    }
  }

  .main-navigation__item {
    margin: 0;
    text-align: center;
  }

  .main-navigation__link {
    font-size: 32px;

    @media (max-width: 767px) {
      font-size: 22px;
    }
  }

  .phone {
    text-align: center;
    max-width: max-content;
    margin: 0 auto;
    font-size: 24px;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 767px) {
      font-size: 18px;
    }

    &::before {
      scale: 1.5;
      margin-right: 16px;
    }
  }

  .social {
    max-width: max-content;
    margin: 0 auto;
  }

  .time {
    max-width: max-content;
    margin: 0 auto;
    text-align: center;
    font-size: 24px;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;

    @media (max-width: 767px) {
      font-size: 18px;
    }

    &::before {
      scale: 1.5;
      margin-right: 16px;
    }
  }
}
