/* =========================
   GOLOS
   ========================= */

/* golos-tent-black */
@font-face {
  font-display: swap;
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 900;
  src: url('../fonts/Golos/GolosText-Black.woff2') format('woff2');
}

/* golos-text-regular */
@font-face {
  font-display: swap;
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Golos/GolosText-Regular.woff2') format('woff2');
}

/* golos-text-medium */
@font-face {
  font-display: swap;
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Golos/GolosText-Medium.woff2') format('woff2');
}

/* golos-text-demibold */
@font-face {
  font-display: swap;
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Golos/GolosText-DemiBold.woff2') format('woff2');
}

/* golos-text-bold */
@font-face {
  font-display: swap;
  font-family: 'Golos Text';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Golos/GolosText-Bold.woff2') format('woff2');
}


/* =========================
   GEOLOGICA
   ========================= */

/* geologica-light */
@font-face {
  font-display: swap;
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 300;
  src: url('../fonts/Geologica/Geologica-Light.woff2') format('woff2');
}

/* geologica-regular */
@font-face {
  font-display: swap;
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/Geologica/Geologica-Regular.woff2') format('woff2');
}

/* geologica-medium */
@font-face {
  font-display: swap;
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/Geologica/Geologica-Medium.woff2') format('woff2');
}

/* geologica-semibold */
@font-face {
  font-display: swap;
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 600;
  src: url('../fonts/Geologica/Geologica-SemiBold.woff2') format('woff2');
}

/* geologica-bold */
@font-face {
  font-display: swap;
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/Geologica/Geologica-Bold.woff2') format('woff2');
}

/* geologica-extrabold */
@font-face {
  font-display: swap;
  font-family: 'Geologica';
  font-style: normal;
  font-weight: 800;
  src: url('../fonts/Geologica/Geologica-ExtraBold.woff2') format('woff2');
}
