// Функция для преобразования hex в rgba
@function transparent-color($color, $opacity) {
  @return rgba($color, $opacity);
}

:root {
  --font-family: "Geologica", sans-serif;
  --second-family: "Golos", sans-serif;
  --white: #fff;
  // --black-text: #282828;
  --black-text: #434242;
  --grey-text: #5e5e5e;
  --black: #161a1d;
  --hover-menu: #868686;
  --yellow: #fed337;
  // --grey-text: #606060;
  --bg-color: #040404;
  --text-color: #8b8b8b;
  --title-color: var(--white);

  --transition: all 0.3s ease-in-out;
}

// :root {
//   --font-family: "Inter", sans-serif;
//   --second-family: "Geologica", sans-serif;

//   --red: #c4161c;
//   --orange: #e67917;
//   --white-80: #{transparent-color(#ffffff, 0.8)};
//   --white-70: #{transparent-color(#ffffff, 0.7)};
//   --white-10: #{transparent-color(#ffffff, 0.1)};

//   --grey: #5d6873;
//   --grey-30: #{transparent-color(#5d6873, 0.3)};

//   --grey-15: #{transparent-color(#B0A393, 0.15)};
//   --black: #26282a;
//   --black-40: #{transparent-color(#000000, 0.4)};
//   --black-60: #{transparent-color(#000000, 0.6)};
//   --dark: #26282a;
//   --dark-70: #{transparent-color(#26282a, 0.7)};
//   --dark-30: #{transparent-color(#26282a, 0.3)};
//   --dark-20: #{transparent-color(#26282a, 0.2)};
//   --dark-15: #{transparent-color(#26282a, 0.15)};
//   --dark-10: #{transparent-color(#26282a, 0.1)};

//   --title-color: #26282a;

//   --text-font-size: 16px;
//   --text-line-height: 1.5;

//   --text-color-1: #5d6873;
//   --text-color-2: #26282a;
//   --text-color-70: #{transparent-color(#26282a, 0.7)};

//   --background-1: #ffffff;
//   --background-2: #f8f2f1;

//   --background-3: #b0a393;
//   --background-4: #{transparent-color(#b0a393, 0.3)};
//   --background-5: #dfe5eb;
//   --background-6: #f8f2f0;

//   --button-size-big: 96px;
//   --button-size-base: 72px;
//   --button-size-small: 64px;

//   --button-size-tablet: 56px;

//   --button-size-mobile: 50px;
//   --button-size-mobile-2: 48px;
//   --button-size-mini: 45px;

//   --brand-color-1: #e67917;
//   --accent-color-1: #c4161c;
//   --telegram-color: #039BE5;
//   --border-color: #DFDFDF;
//   --border-color-2: #C6C0BB;

//   --swiper-navigation-sides-offset: -32px;

//   @media (max-width: 767px) {
//     --swiper-navigation-sides-offset: -16px;
//   }

//   --swiper-theme-color: #e67917;
// }
