.benefits-small {
  &__list {
    margin: 0;
    padding: 0;
    list-style: none;
    display: grid;
    gap: 24px;
    grid-template-columns: repeat(3, 1fr);
    max-width: max-content;
    @media(max-width: 767px) {
      grid-template-columns: repeat(1, 1fr);
    }

  }

  &__icon {
    width: 20px;
    height: 30px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-start;
    margin-bottom: 8px;
  }

  &__title {
    display: block;
    margin: 0;
    font-weight: 600;
    margin-bottom: 4px;
  }
  &__text {
    margin: 0;
    font-weight: 400;
    opacity: 0.7;
  }
}
