.button-menu {
  background: #ffd943;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #040404;
  border-radius: 50%;
  padding: 0;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  transition: var(--transition);
  width: 48px;
  height: 48px;
  transition: var(--transition);
  border: none;

  @media (max-width: 767px) {
    width: 40px;
    height: 40px;
  }

  &:hover {
    background: #ffe47a;
  }
}
