.button {
  background: #ffd943;
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 120%;
  text-align: center;
  color: #040404;
  border-radius: 12px;
  padding: 21px 48px;
  text-align: center;
  max-width: max-content;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  transition: var(--transition);
  border: none;
  &:hover {
    background:  #ffe47a;
  }

}
