.decorate {
  position: absolute;
  z-index: -1;
  pointer-events: none;
  border-radius: 100%;
  filter: blur(14rem);
  width: 40%;
  aspect-ratio: 1/1;
  display: flex;
  background-color: rgba(255, 217, 67, 0.3);

  @media (max-width: 1379px) {
    filter: blur(13rem);
    width: 50%;
  }

  @media (max-width: 1023px) {
    width: 60%;
    filter: blur(4rem);
  }


  &.-left {
    left: -5%;
    @media (max-width: 1023px) {
       left: -8%;
    }
  }

  &.-right {
    right: -5%;
  }

  &.-top {
    top: -45%;
    @media (max-width: 1379px) {
      top: 15%;
    }
    @media (max-width: 1023px) {
       top: -25%;
    }
    @media (max-width: 767px) {
       top: -7%;
    }
  }
}
