.main-navigation {
  &__list {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-wrap: wrap;
    margin-right: -32px;
    margin-bottom: -16px;
  }

  &__item {
    margin-right: 32px;
    margin-bottom: 16px;
  }

  &__link {
    text-decoration: none;
    transition: var(--transition);
    color: var(--white);
    font-weight: 400;
    font-size: 16px;

    &:hover {
      color: #ffd943;
    }
  }
}
