.phone {
  font-weight: 500;
  line-height: 1;
  text-decoration: none;
  color: inherit;
  display: flex;
  align-items: center;
  font-family: var(--second-family);

  &::before {
    content: url("../img/icon-phone.svg");
    background-repeat: no-repeat;
    width: 16px;
    height: 16px;
    display: inline-block;
    margin-right: 8px;
  }
}
