.preview-card {
  &__header {
    width: 100%;
    aspect-ratio: 13/6;
  }

  &__photo {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover;
    }
  }

  &__body {
    background: #040404;
    border-radius: 16px;
    padding: 20px;
    margin-top: 2px;

    @media (max-width: 767px) {
      padding: 16px;
    }

  }

  &__title {
    margin: 0;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--white);
  }

  &__price {
    margin: 0;
    line-height: 1;
    text-transform: uppercase;
    color: #ffd943;
    font-weight: 600;
    font-size: 20px;
    padding-left: 12px;
    border-left: 2px solid currentColor;

    b {
      font-weight: 400;
      font-size: 10px;
      display: block;
      margin-bottom: 4px;

    }
  }

  &__description {
    margin: 0;
  }

  &__body-group {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-bottom: 16px;

    @media(max-width: 767px) {
      grid-template-columns: 1fr;
    }
  }

  &__buttons {
    display: grid;
    gap: 16px;
    grid-template-columns: 1fr auto;
    align-items: center;
    margin-top: 20px;
    max-width: max-content;

    @media(max-width: 767px) {
      grid-template-columns: 1fr;
      max-width: 100%;


    }

    .button {
      @media(max-width: 767px) {
        width: 100%;
        max-width: 100% !important;
      }

    }



  }
}
